// Footer

.bqb-footer {
  padding: 3rem 0;

  @include media-breakpoint-down(md) {
    padding: 1.5rem 0;
  }

  .footer-navigation {
    .navigation-title {
      font-weight: bold;
      font-size: 1.6rem;
      margin-bottom: 1rem;

      @include media-breakpoint-down(md) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .bqb-icon-chevron-up,
      .bqb-icon-chevron-down {
        display: none;

        @include media-breakpoint-down(md) {
          display: inline;
        }
      }
    }

    .navigation-nav {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;

      @include media-breakpoint-down(md) {
        visibility: hidden;
        opacity: 0;
        max-height: 0;
        margin-bottom: 1rem;
      }

      .nav-item {
        &.phone {
          margin: 1rem 0;
          font-weight: bold;
          font-size: 1.4rem;
        }

        &.social {
          a {
            color: $white;
            text-decoration: none;
            font-size: 2rem;
          }
        }

        .nav-link {
          @include transition ();
        }
      }
    }

    &.open {
      .navigation-nav {
        visibility: visible;
        opacity: 1;
        max-height: 100%;
      }
    }
  }

  // Buquebus Theme
  &.footer-buquebus {
    background-color: $header-buquebus-bg;
    color: $header-buquebus-color;

    .footer-navigation {
      .navigation-nav {
        .nav-item {
          .nav-link {
            color: $footer-buquebus-color;
          }
        }
      }
    }
  }

  // Turismo Theme
  &.footer-turismo {
    background-color: $footer-turismo-bg;
    color: $footer-turismo-color;

    .footer-navigation {
      .navigation-nav {
        .nav-item {
          .nav-link {
            color: $footer-turismo-color;
          }
        }
      }
    }
  }
}
