.bqb-price-follow {
  box-shadow: 0 1px 6px rgba(164,163,163,0.6);
  padding: 1.5rem;
  background-color: $white;
  margin: 1.5rem 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  @include media-breakpoint-down(xs) {
    margin: 1.5rem -1.5rem;
  }

  .price-follow-text {
    @include media-breakpoint-up(xl) {
      font-size: 1.4rem;
    }

    span {
      font-weight: bold;
      text-transform: uppercase;
    }

    p {
      margin: 0;
    }
  }

  .price-follow-icon {
    font-size: 3rem;
    margin-left: 3rem;
    margin-right: 1rem;

    @include media-breakpoint-up(lg) {
      cursor: pointer;
    }
  }
}

.bqb-price-follow-modal {
  .bqb-form-control {
    @include media-breakpoint-down(md) {
      width: 100%;
      height: 4.5rem;
      line-height: 4.5rem;
      font-size: 1.6rem;
    }
  }

  .bqb-checkbox {
    margin-bottom: 1rem;
  }

  .price-follow-disclaimer {
    font-size: 1.1rem;
    margin-top: 1rem;
  }
}

.bqb-fares-upgrade-modal {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  padding: 2rem;

  img {
    margin-bottom: 1rem;
  }

  .h5 {
    span {
      font-weight: bold;
      color: #005891;
      font-size: 1.6rem;
    }
  }

  a {
    display: block;
    margin-top: 1rem;
  }
}

.bqb-grid-fares {
  font-size: 1.4rem;

  @include media-breakpoint-up(xl) {
    display: none;
  }

  .grid-fares-filter {
    @include media-breakpoint-up(md) {
      display: none!important;
    }
  }

  .bqb-icon-check-seal { color: #85b649; }
  .bqb-icon-last-seats { color: #fc2b2b; }
  .bqb-icon-discount { color: #ff5e5b; }

  .fares-references {
    margin: 1rem 0;

    ul {
      display: flex;
      flex-flow: row nowrap;
      list-style: none;
      padding: 0;

      li {
        margin-right: 1rem;

        &:last-child {
          margin-right: 0;
        }

        span, i {
          vertical-align: middle;
        }

        span {
          font-size: 1.2rem;
        }
      }
    }
  }

  .fares-cluster {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }

    .cluster-main,
    .cluster-categories {
      box-shadow: 0 1px 6px rgba(164,163,163,0.6);
    }

    .cluster-main {
      background-color: $white;
      cursor: pointer;
      padding: 1.5rem 2rem;

      .main-body {
        .body-times,
        .body-legs {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .body-times {
          font-size: 1.6rem;
          font-weight: bold;

          span {
            display: flex;
          }

          .times-icon {
            &.icon-ship {
              color: #0079cc;
              margin-left: 1rem;
            }
          }

          .times-line {
            border: 1px solid;
            height: .1rem;
            flex: 1;
            justify-content: center;
            align-items: center;
            margin-left: 1rem;

            &.line-ship { border-color: #0079cc; }
            &.line-bus {
              border-style: dashed;
              margin: 0 1rem;
            }
          }

          .times-dot {
            background-color: #0079cc;
            width: .8rem;
            height: .8rem;
            border-radius: .4rem;
            margin-right: 1rem;
          }
        }
        .body-legs {
          list-style: none;
          padding: 0;
          margin: 0;
        }
        .body-details {
          font-size: 1.2rem;
          color: #7f7f7f;
        }
      }

      .main-cta {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2.5rem;
        color: #0079cc;

        .cta-price {
          i {
            font-size: 1.8rem;
          }

          .price-product {
            display: flex;
            align-items: center;

            .price-number {
              font-weight: bold;
              margin-left: .5rem;
            }
          }
        }
      }
    }

    .cluster-categories {
      visibility: hidden;
      opacity: 0;
      max-height: 0;

      .categories-item {
        .item-classes {
          padding: .5rem 1rem;
          text-align: center;
          color: $white;

          &.classes-economy { background-color: #00b9e0 }
          &.classes-tourist { background-color: #007ad0 }
          &.classes-business { background-color: #005397 }
          &.classes-special { background-color: #caa770 }
        }

        .item-types {
          display: flex;

          .types-option {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
            flex-flow: column nowrap;
            background-color: $white;
            padding: 1rem 0;
            margin: 0 .1rem;
            position: relative;

            &:first-child {
              margin-left: 0;
            }

            &:last-child {
              margin-right: 0;
            }

            .option-info {
              position: absolute;
              right: 0;
              font-size: 2rem;
              top: 0;
              line-height: 1;
              text-align: right;
              padding: 1rem;
            }

            .option-price {
              font-weight: bold;
              font-size: 1.8rem;
              color: #0079cc;
            }

            .option-alerts {
              font-size: 2rem;

              i {
                vertical-align: middle;
              }
            }

            &.active {
              background-color: #056ab7;
              color: $white;

              span, i {
                color: inherit;
              }
            }
          }
        }
      }
    }

    &.expanded {
      .cluster-categories {
        visibility: visible;
        opacity: 1;
        max-height: 100%;
        transition: $transition-base;
      }
    }
  }

  .fares-cta {
    a, p {
      margin-top: 1rem;
      text-align: center;
    }
    a {
      ;
      display: block;
    }

    p {
      margin-bottom: 0;
      font-size: 1.2rem;
    }
  }
}


.placeholder-mobile {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.placeholder-desktop {
  @include media-breakpoint-down(lg) {
    display: none;
  }
}
