// Header

.bqb-header {
  .header-brand {
    .brand-heading {
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: flex-start;

      .heading-logo {
        display: inline-block;
        vertical-align: middle;
        height: 4rem;

        @include media-breakpoint-down(lg) {
          height: 3rem;
        }

        svg {
          height: 100%;
        }
      }

      .heading-hamburguer {
        display: none;

        @include media-breakpoint-down(lg) {
          display: inline-block;
          color: $white;
          font-size: 2.5rem;
          margin-right: 1.5rem;
          text-decoration: none;
        }

        .bqb-icon-hamburguer-menu {
          vertical-align: middle;
        }
      }
    }

    .brand-tools {
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: flex-end;

      .tools-list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          display: flex;
          margin: 0 3rem;
          align-items: center;

          @include media-breakpoint-down(lg) {
            margin: 0 .5rem;
          }

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin: 0;
          }

          > a {
            color: $white;

            &:hover,
            &:focus {
              text-decoration: none;
              color: #00baf2;
            }
          }

          &.tools-item-phone,
          &.tools-item-account {
            i {
              font-size: 2rem;
            }
          }

          &.tools-item-language {
            > a {
              display: flex;
              align-items: center;
            }

            .language-flag {
              margin-right: 1rem;

              @include media-breakpoint-down(lg) {
                margin-right: .5rem;
              }
            }

            .language-text {
              @include media-breakpoint-down(lg) {
                display: none;
              }
            }

            [class^="bqb-icon-"], [class*=" bqb-icon-"] {
              @include media-breakpoint-down(lg) {
                display: none;
              }
            }
          }

          &.tools-item-account {
            @include media-breakpoint-down(lg) {
              margin-right: 0;
              font-size: 2rem;
            }

            a {
              display: flex;
              align-items: center;
            }

            i {
              @include media-breakpoint-down(lg) {
                margin: 0;
              }
            }
          }

          &.tools-item-help {
            a {
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid $white;
              border-radius: 1.5rem;
              height: 3rem;
              text-align: center;
              width: 3rem;
              user-select: none;

              &:hover,
              &:focus {
                text-decoration: none;
                background-color: #00baf2;
                color: $white;
              }
            }
          }
        }
      }
    }
  }

  .header-navigation {
    @include media-breakpoint-down(lg) {
      position: fixed;
      top: 4.6rem;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: $zindex-fixed;
      visibility: hidden;
      opacity: 0;
      transition: $transition-base;
      overflow: auto;
    }

    &.show {
      @include media-breakpoint-down(lg) {
        visibility: visible;
        opacity: 1;
      }
    }

    .navigation-nav-responsive {
      display: none;

      @include media-breakpoint-down(lg) {
        display: block;
        margin: 1.5rem 0;
      }

      .nav-responsive-title {
        font-size: 1.6rem;
        font-weight: bold;
      }

      div.nav-responsive-title {
        margin-bottom: 1rem;
        margin-left: -15px;
        padding-bottom: 1rem;
        border-bottom: 1px solid $white;
      }

      ul {
        list-style: none;
        padding: 0;
        margin-bottom: 2rem;

        &.bqb-row {
          margin-left: -30px;
        }

        li {
          a {
            color: $white;
          }
        }
      }

      ul.nav-responsive-boarding-info {
        margin-left: -15px;
        background-color: #00baf2;
        padding: 1rem 0;
        text-align: center;
      }
    }

    .navigation-nav {
      padding-left: 0;
      margin-bottom: 0;
      margin-left: -1.5rem;
      list-style: none;

      @include media-breakpoint-down(lg) {
        display: none;
      }

      .nav-item {
        display: inline-block;
        white-space: nowrap;

        @include media-breakpoint-down(lg) {
          display: block;
        }

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-left: 0;
        }

        .nav-link {
          display: block;
          padding: 1rem 1.5rem;
          @include transition ();

          &:hover,
          &:focus {
            background-color: #082f61;
            text-decoration: none;
          }
        }

        &.special {
          .nav-link {
            background-color: $header-buquebus-special;

            &:hover,
            &:focus {
              background-color: $header-buquebus-special;
              text-decoration: none;
            }
          }
          .dropdown-menu {
            width: 45rem;
          }
        }
      }

      // Dropdown Menu

      .dropdown {
        position: relative;

        .dropdown-menu {
          visibility: hidden;
          opacity: 0;
          transition: $transition-fade;
          position: absolute;
          padding-left: 0;
          list-style: none;
          z-index: $zindex-dropdown;
          background-color: #0b3872;
          top: 100%;
          left: 0;
          float: left;

          &.dropdown-menu-right {
            right: 0;
            left: auto;
          }

          a {
            display: block;
            color: $white;
            padding: 1rem 1.5rem;

            &:hover,
            &:focus {
              background-color: #082f61;
              text-decoration: none;
            }
          }
        }

        // Dropdown Submenu BQB Core
        .dropdown-submenu {
          position: relative;

          .nav-link {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .bqb-icon-margin-left {
              margin-left: 2rem;
            }
          }

          .dropdown-menu {
            top: 0;
            left: 100%;
            visibility: hidden;
            opacity: 0;
            transition: $transition-fade;

            &.show {
              visibility: visible;
              opacity: 1;
            }
          }
        }

        &.show {
          > .dropdown-menu {
            visibility: visible;
            opacity: 1;
          }
        }

        // Boarding information module

        .menu-boarding-info {
          background-color: #082f61;
          padding: .5rem 1.5rem;
          position: relative;

          .boarding-info-wrapper {
            table {
              font-size: 1.3rem;
              table-layout: fixed;
              margin: 0;

              th, td {
                border-top: 0 none;
                text-align: center;
                padding: .5rem;
                white-space: normal;

                &:first-child {
                  padding-left: 0;
                  text-align: left;
                }

                &:last-child {
                  padding-right: 0;
                }
              }
              th {
                border-bottom: 1px solid #0b3872;
                font-weight: normal;
                font-style: italic;

                &.th-time,
                &.th-status {
                  width: 11rem;
                }
              }
            }

            .boarding-status-arriving {
              color: #9dc018;
            }

            .boarding-status-boarding {
              color: #fa5242;
            }
          }

          .boarding-info-loader {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            visibility: hidden;
            opacity: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 1;
            background-color: #082f61;
          }

          &.loading {
            .boarding-info-loader {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  // Buquebus Theme
  &.header-buquebus {
    background-color: $header-buquebus-bg;
    color: $header-buquebus-color;
    font-size: 1.4rem;

    .header-brand {
      padding: $header-buquebus-brand-padding;

      @include media-breakpoint-down(lg) {
        padding: .5rem 0;
      }
    }

    .header-navigation {
      background-color: $header-buquebus-navigation-bg;

      @include media-breakpoint-down(lg) {
        background-color: $header-buquebus-bg;
      }

      .navigation-nav {
        .nav-item {
          .nav-link {
            color: $header-buquebus-color;
          }
        }
      }
    }
  }
}

// Body disabled while Hamburguer Menu active

body {
  &.hamburguer-open {
    overflow: hidden;
  }
}
