.bqb-home-rows {
  margin-bottom: 1.5rem;

  .bqb-home-banner {
    width: 33rem;
    height: 38rem;
    padding: 0;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &.rows-left {
    .bqb-row {
      > div {
        @include media-breakpoint-up(lg) {
          padding-right: 0;
        }
      }
    }
    .bqb-home-banner {
      float: left;
    }
  }

  &.rows-right {
    .bqb-row {
      > div {
        @include media-breakpoint-up(lg) {
          padding-left: 0;
        }
      }
    }
    .bqb-home-banner {
      float: right;
    }
  }

  .bqb-campaign-slider {
    .owl-item {
      img {
        height: 37rem;
      }
    }
  }

  .bqb-banner-slider {
    .owl-item {
      img {
        height: 15rem;

        @include media-breakpoint-down(lg) {
          height: 9rem;
        }
      }
    }
  }

  .bqb-card-slider {
    .owl-dots {
      display: none;
    }
  }
}

// Title Skyscraper
.bqb-skyscraper {
  padding: 0 .5rem;
  margin: 0 0 .5rem 0;
  color: #333;
  cursor: default;
  user-select: none;

  .skyscraper-title {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-right: .5rem;
  }
}

// video
.bqb-video-bg {
  max-height: 50rem;
  position: relative;
  z-index: -100;
  width: 100%;
  overflow: hidden;

  video {
    transform: translateX(0) translateY(-25%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
  }
}
