.bqb-home-rows {
  margin-bottom: 1.5rem;

  .bqb-home-banner {
    width: 33rem;
    height: 38rem;
    padding: 0;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &.rows-left {
    .bqb-home-banner {
      float: left;
    }
  }

  &.rows-right {
    .bqb-home-banner {
      float: right;
    }
  }

  .bqb-campaign-slider {
    .owl-item {
      img {
        height: 380px;
      }
    }
  }

  .bqb-card-slider {
    .owl-dots {
      display: none;
    }
  }
}

// Title Skyscraper

.bqb-skyscraper {
  padding: .8rem 1.6rem;
  margin: 0 0 .5rem 0;
  background-color: #7ca6da;
  color: $white;
  cursor: default;
  user-select: none;

  a {
    color: #fff;
  }

  .skyscraper-title {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-right: .5rem;
  }

  &.skyscraper-pink { background-color: #bf337b; }

  &.skyscraper-yellow { background-color: #e7ba00; }

  &.skyscraper-orange { background-color: #cf6f2a; }
}

// Video module

.bqb-video-search {
  min-height: 40rem;
  overflow: hidden;

  video {
    width: 100%;
    height: 40rem;
    object-fit: cover;
    transform: translateX(0) translateY(40%);
    z-index: -100;
    background-size: cover;
    background-position: center center;
    // background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  }

  @include media-breakpoint-down(lg) {
    display: none;
  }
}
