.bqb-carousel {
	&.owl-carousel {
		display: none;
		width: 100%;
		-webkit-tap-highlight-color: transparent;
		/* position relative and z-index fix webkit rendering fonts issue */
		position: relative;
		z-index: 1;

		.owl-stage {
			position: relative;
			-ms-touch-action: pan-Y;
			touch-action: manipulation;
			-moz-backface-visibility: hidden; /* fix firefox animation glitch */
			padding-left: 0 !important;
		}

		.owl-stage:after {
			content: ".";
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}

		.owl-stage-outer {
			position: relative;
			overflow: hidden;
			/* fix for flashing background */
			-webkit-transform: translate3d(0px, 0px, 0px);
		}

		.owl-wrapper,
		.owl-item{
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
			-webkit-transform: translate3d(0,0,0);
			-moz-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
		}

		.owl-item {
			position: relative;
			min-height: 1px;
			float: left;
			-webkit-backface-visibility: hidden;
			-webkit-tap-highlight-color: transparent;
			-webkit-touch-callout: none;
		}
		.owl-item img {
			display: block;
			width: 100%;
		}

		.owl-nav.disabled,
		.owl-dots.disabled {
			display: none;
		}

		.owl-nav .owl-prev,
		.owl-nav .owl-next,
		.owl-dot {
			cursor: pointer;
			cursor: hand;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		.owl-nav .owl-prev {
			left: -.5rem;
		}

		.owl-nav .owl-next {
			right: -.5rem;
		}

		.owl-nav button.owl-prev,
		.owl-nav button.owl-next {
			background: $white;
			color: #a5a5a5;
			width: 5rem;
			height: 5rem;
			border: none;
			border-radius: 2.5rem;
			line-height: 1;
			font-size: 4rem;
			transform: translate(0, -50%);
	    text-align: center;
			position: absolute;
			top: 50%;
			box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

			&:focus {
				outline: 0;
			}

			&:hover {
				box-shadow: 0 7px 16px 0 rgba(0,0,0,.2), 0 1px 3px 0 rgba(0,0,0,.1);
				transition: $transition-box-shadow;
			}
		}

		&.owl-loaded {
			display: block;
		}

		&.owl-loading {
			opacity: 0;
			display: block;
		}

		&.owl-hidden {
			opacity: 0;
		}

		&.owl-refresh .owl-item {
			visibility: hidden;
		}

		&.owl-drag .owl-item {
			// touch-action: none;
			user-select: none;
		}

		&.owl-grab {
			cursor: move;
			cursor: grab;
		}

		&.owl-rtl {
			direction: rtl;
		}

		&.owl-rtl .owl-item {
			float: right;
		}
	}

	/* No Js */
	.no-js .owl-carousel {
		display: block;
	}


	// THEME

	.owl-nav.disabled + .owl-dots {
		margin-top: 10px;
	}

	.owl-dots {
		text-align: center;
		tap-highlight-color: transparent;
		position: absolute;
	  bottom: 1rem;
	  left: 50%;
		transform: translate(-50%, 0);

		.owl-dot {
			display: inline-block;
			padding: 0;
	    border: 0 none;
	    background-color: transparent;
			outline: 0;

			span {
				width: $dot-width;
				height: $dot-height;
				margin: $dot-margin;
				background: $dot-background;
				display: block;
				backface-visibility: visible;
				transition: opacity 200ms ease;
				border-radius: $dot-rounded;
				border: 2px solid $white;
			}

			&.active,
			&:hover {
				span {
					background: $dot-background-active;
				}
			}
		}
	}
}
