.bqb-card {
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-color: $card-bg;
  background-clip: border-box;
  cursor: pointer;
  height: 33rem;

  > hr {
    margin-right: 0;
    margin-left: 0;
  }

  &:hover {
    box-shadow: 0 1px 6px rgba(164,163,163,0.6);
    transition: $transition-box-shadow;
  }

  // Background overlay

  &.card-background {
    background-position: center center;
    background-size: cover;
  }
}

.card-body {
  // Enable `flex-grow: 1` for decks and groups so that card blocks take up
  // as much space as possible, ensuring footers are aligned to the bottom.
  flex: 1 1 auto;
  padding: 1rem;
  height: 13rem;
}

.card-title {
  display: block;
  margin-bottom: $card-spacer-y;
  font-size: 1.6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-subtitle {
  display: block;
  margin-top: -0.5rem;
  margin-bottom: 0;
  color: #999;

  span {
    vertical-align: middle;
  }

  .subtitle-stars {
    font-size: 1.2rem;
    color: #ffc249;
  }
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link {
  @include hover {
    text-decoration: none;
  }

  + .card-link {
    margin-left: $card-spacer-x;
  }
}

.card-price {
  text-align: right;
  position: absolute;
  right: 1rem;
  bottom: 1rem;

  .price-currency,
  .price-number {
    font-weight: bold;
  }

  .price-misc,
  .price-info {
    display: block;
    color: #999;
  }

  .price-currency {
    font-size: 1.5rem;
  }

  .price-number {
    font-size: 2.5rem;
  }

  .price-misc {
    margin-bottom: -0.6rem;
  }

  .price-info {
    margin-top: -0.5rem;
    font-size: 1rem;
  }
}

//
// Optional textual caps
//

.card-header {
  padding: $card-spacer-y $card-spacer-x;
  margin-bottom: 0; // Removes the default margin-bottom of <hN>
  background-color: $card-cap-bg;
  border-bottom: $card-border-width solid $card-border-color;

  &:first-child {
    @include border-radius($card-inner-border-radius $card-inner-border-radius 0 0);
  }
}

.card-footer {
  padding: $card-spacer-y $card-spacer-x;
  background-color: $card-cap-bg;
  border-top: $card-border-width solid $card-border-color;

  &:last-child {
    @include border-radius(0 0 $card-inner-border-radius $card-inner-border-radius);
  }
}


//
// Header navs
//

.card-header-tabs {
  margin-right: -($card-spacer-x / 2);
  margin-bottom: -$card-spacer-y;
  margin-left: -($card-spacer-x / 2);
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -($card-spacer-x / 2);
  margin-left: -($card-spacer-x / 2);
}

// Card image background and overlay


.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $card-img-overlay-padding;
  background-color: rgba(0, 0, 0, 0.8);
  color: $white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

// Card image

.card-img {
  position: relative;
  width: 100%;
  height: 20rem;
  background-position: center center;
  background-size: cover;
}


// Card deck

.card-deck {
  display: flex;
  flex-direction: column;

  .bqb-card {
    margin-bottom: $card-deck-margin;
  }

  @include media-breakpoint-up(sm) {
    flex-flow: row wrap;
    margin-right: -$card-deck-margin;
    margin-left: -$card-deck-margin;

    .bqb-card {
      display: flex;
      // Flexbugs #4: https://github.com/philipwalton/flexbugs#4-flex-shorthand-declarations-with-unitless-flex-basis-values-are-ignored
      flex: 1 0 0%;
      flex-direction: column;
      margin-right: $card-deck-margin;
      margin-bottom: 0; // Override the default
      margin-left: $card-deck-margin;
    }
  }
}


//
// Card groups
//

.card-group {
  display: flex;
  flex-direction: column;

  .bqb-card {
    margin-bottom: $card-group-margin;
  }

  @include media-breakpoint-up(sm) {
    flex-flow: row wrap;

    .bqb-card {
      // Flexbugs #4: https://github.com/philipwalton/flexbugs#4-flex-shorthand-declarations-with-unitless-flex-basis-values-are-ignored
      flex: 1 0 0%;
      margin-bottom: 0;

      + .card {
        margin-left: 0;
        border-left: 0;
      }
    }
  }
}


//
// Columns
//

.card-columns {
  .card {
    margin-bottom: $card-columns-margin;
  }

  @include media-breakpoint-up(sm) {
    column-count: $card-columns-count;
    column-gap: $card-columns-gap;

    .card {
      display: inline-block; // Don't let them vertically span multiple columns
      width: 100%; // Don't let their width change
    }
  }
}

// Owl Carousel

.owl-carousel {
  .bqb-card {
    margin: .5rem;
  }
}
