.bqb-ribbon {
  position: absolute;
  top: 1rem;
  left: 0;
  user-select: none;
  display: flex;
  flex-flow: row nowrap;

  .bqb-ribbon-text,
  .bqb-ribbon-discount {
    color: $white;
    padding: 0 1rem;
    white-space: nowrap;
    height: 3.5rem;
    line-height: 3.5rem;
  }

  .bqb-ribbon-text {
    background-color: #003d68;
    font-size: 1.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 25rem;
  }

  .bqb-ribbon-discount {
    background-color: #28a745;
    margin-left: -.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;

    &::before {
      border-color: transparent #11481d transparent transparent;
      border-style: solid;
      border-width: 0 5px 5px 0;
      bottom: -.5rem;
      content: "";
      left: -.5rem;
      position: absolute;
    }
  }

  .bqb-ribbon-discount + .bqb-ribbon-text {
    max-width: 18rem;
  }
}
