@import "functions";
@import "variables";
@import "mixins";

.modal-hotel-popup {
  .modal-body {
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;

    img {
      margin-bottom: 2rem;
    }

    a {
      margin-top: 1rem;
    }

    .highlighted {
      font-weight: bold;
      text-transform: uppercase;
      margin: -.5rem 0 2rem 0;
      color: #0077c4;
    }
  }

  button.close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 10;
  }
}
